/* RESET*/

html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
fieldset,
input,
abbr,
article,
aside,
command,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
meter,
nav,
output,
progress,
section,
summary,
time {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
address,
caption,
cite,
code,
em,
strong,
th,
figcaption {
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
}

fieldset,
iframe {
    border: none;
}

caption,
th {
    text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
aside,
footer,
header,
hgroup,
nav,
section,
figure,
figcaption {
    display: block;
}


/* LAYOUT */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
}

html {
    background-color: #fff;
}

.clear {
    clear: both;
}

.clearer {
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
    height: 0;
    line-height: 1px;
    font-size: 1px;
}

.selfclear {
    zoom: 1;
}

.selfclear:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    color: #515151;
    &:focus {
        outline: none;
    }
}

i {
    font-style: normal;
}

ul,
li {
    list-style: none;
}

body {
    font: 14px/1.5;
    font-family: Arial, "Hiragino Sans GB", 冬青黑, "Microsoft YaHei", 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, "Arial sans-serif";
    color: #515151;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
    height: 0px;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.br0 {
    border: none;
}

.key-color {
    color: #333;
}

.maim-color {
    color: #666;
}

.auxiliary-color {
    color: #999;
}